# Server Port
PORT=3000

# Telegram Bot Token (obtained from @BotFather)
BOT_TOKEN=8154757152:AAHG-4c8LdtbEzm6cbQ7-YOm_Kd5xrJpvBo

# Web App Public URL (URL on Render)
WEB_APP_URL=https://telegram-shop-6m0d.onrender.com

# Optional Merchant Default Chat ID for order alerts
MERCHANT_CHAT_ID=
